<div id="{{ id }}" class="sp-radio-group-wrap js-form-element">
    {% if label %}
        <label class="sp-radio-group-label">
            {{ label }}
        </label>
    {% endif %}
    {% for option in options %}
        <label class="sp-radio-label">
            {{ option.label }}
            <input id="{{ option.id }}" class="sp-radio" type="radio" value="{{ option.value }}">
        </label>
    {% endfor %}
</div>
