<div id="{{ id }}" class="sp-select-wrap js-form-element">

    {% if label %}
    <label class="sp-selecet-label">
        {{ label }}
        {% endif %}

        <select class="sp-select">
            {% for option in options %}
                <option id="{{ option.id }}" class="sp-select-option" value="{{ option.value }}">{{ option.label }}</option>
            {% endfor %}
        </select>

        {% if label %}
    </label>
    {% endif %}

</div>
