<div id="{{ id }}" class="{{ classes }}" style="{{ style }}">

    {% if label %}
    <label class="{{ label.classes }}">
        {{ label.value }}
        {% endif %}

        <select class="sf-select">
            {% for option in options %}
                <option id="{{ option.id }}" class="{{ option.classes }}" value="{{ option.value }}">
                    {{ option.label }}
                </option>
            {% endfor %}
        </select>

        {% if label %}
    </label>
    {% endif %}

</div>
