<div   id="{{ id }}" class="{{ classes }}" style="{{ style }}">
    {% if label %}
        <label class="{{ label.classes }}"> {{ label.value }}</label>
    {% endif %}
    <input class="{{ input_classes }}" type="text"/>
</div>
