<div id="{{ id }}" class="{{ classes }}">
    {% if label %}
    <label class="{{ label.classes }}"> {{ label.value }}
        {% endif %}
        <input class="{{ input_classes }}" type="text" />
        {% if label %}
    </label>
    {% endif %}
</div>
